/* Write your code here. */
.win-lose-card-container {
  background-color: #9796f0;
  border: 2px solid #ffffff33;
  display: flex;
  justify-content: space-between;
  max-width: 80vw;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}
.play-again-btn {
  background-color: #ffce27;
  padding: 10px;
  border: 0px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
.win-or-lose-image {
  min-width: 70px;
  min-height: 70px;
  height: 40vh;
  width: 20vw;
  margin: 10px;
}
.score {
  color: #6a59ff;
  font-size: 25px;
  font-weight: bold;
}
